<div class= "d-flex justify-content-center">
  <div class= "card" style= "width: 25rem;">
    <div class= "card-body">        
      <form action= "<%=tweet_comments_path(tweet)%>" method= "post">
        <textarea name= "comment[body]" rows= "4" cols= "35"></textarea></br>
        <input type= "submit" value= "Submit" class= "btn btn-primary">
      </form>
    </div>
  </div>
</div>