<div class = "container">
  <div class="card" style="width: 25rem;">
    <div class="card-body">
      <h5 class="card-title"><%= tweet.title%></h5>
      <h6 class="card-subtitle mb-2 text-muted">#{user.id}</h6>
      <p class="card-text"><%= tweet.body%></p>
      <a href="#" class="card-link">comments</a>
      <a href="#" class="card-link">retweets</a>
      <a href="#" class="card-link">like</a>
      <a href="#" class="card-link">share</a>
    </div>
  </div>
</div>

