<div class = "tweets">
  <h1 class = "title">Explore</h1>
  <%= render 'form', tweet: @tweet if user_signed_in?%>
  <% @tweets.each do |tweet| %>
    <%= render partial: "tweets/#{tweet.tweet_type}", locals: {tweet: tweet, retweet: tweet} %>
    <%if tweet.comments.last%>
      <%= render partial: "comments/index_comment", locals: {comment: tweet.comments.last} %> 
    <%end%>
  <% end %>
</div>