<p style="color: green"><%= notice %></p>
<h1 class = "text-center">Tweets#index</h1>

<div class = "container" id="tweets">
  <div class = "justify-content-center">
    <%= render 'form', tweet: @tweet if user_signed_in?%>
    <% @tweets.each do |tweet| %>
      <%= render partial: "tweets/#{tweet.tweet_type}", locals: {tweet: tweet} %>
    <% end %>
  </div>
</div>
