<div class="tweets">
  <%= render @tweet %>
  <% if user_signed_in?%>
    <%= render partial: 'comments/form', locals:{tweet: @tweet} %>
  <%end%>  
  <%= render @tweet.comments.reverse%>
  <div>
    <% if current_user == @tweet.user %>
      <%= button_to "Delete tweet", @tweet, method: :delete %>
    <%end%>
  </div>
</div>