/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* custom styling for tweet index page, profile pic in tweet card */
img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

/* custom css for user show page */
#profile-image {
  display: flex;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  grid-column: 2/3;
  
}

/* custom css for users profile pic in search results */
#search_pic {
  width: 90px;
  height: 90px;
}

#container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  
}

.tweets {
  width: 100%;
  grid-row: 2 / 3;
  background-color: #F5F8FA;
}

.tweet {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
}

.tweet-time {
  font-size: small;
  display: flex;
  align-items: flex-end;
  margin-left: 5px;
}

.tweet-timer {
  margin-left: 5px;
}

.tweet-card-title {
  display: flex;
}

.tweet-link {
  color: #14171A;
  text-decoration: none;
  align-self: center;
  justify-content: flex-end;
}

.tweet-link:hover {
  color: #1DA1F2;
}

.title {
  text-align: center;
  margin-top: 10px;
  grid-column: 2 / 3;
}

.users {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;
}

.user {
  margin-bottom: 15px;
  margin-top: 15px;
  box-shadow: 1px 1px 3px;
  border-radius: 5px;
}

.side-navbar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  padding: 0;
  
}
.navbar-link{
  text-decoration: none;
  margin-left: 120px;
  color: #14171A; 
}

.navbar-link:hover {
  color: #1DA1F2;
}

.navbar-link:active {
  color: #0d6efd;
}

.form-dingo {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 0px;
  padding-left: 30px;
  padding-right: 30px;
}

.twitter-img {
  height: 100px;
}

.form {
  grid-column: 2 / 3;
}