/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* profile pic in tweet card */
img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
/* general grid container */
#container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
/* tweet styling */
.tweets {
  width: 100%;
  grid-row: 2 / 3;
  background-color: #F5F8FA;
}

.tweet {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
}

.tweet-time {
  font-size: small;
  display: flex;
  align-items: flex-end;
  margin-left: 5px;
}

.tweet-timer {
  margin-left: 5px;
}

.tweet-card-title {
  display: flex;
}

.tweet-link {
  color: #14171A;
  text-decoration: none;
  align-self: center;
  justify-content: flex-end;
}

.tweet-link:hover {
  color: #1DA1F2;
}
/* general styling for page titles */
.title {
  text-align: center;
  margin-top: 10px;
  grid-column: 2 / 3;
}
/* User styling */
.users {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;
}

.user {
  margin-bottom: 15px;
  margin-top: 15px;
  box-shadow: 1px 1px 3px;
  border-radius: 5px;
}

.user-form {
  grid-column: 2 / 3;
}
/* User Photo styling */
#profile-image {
  display: flex;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  grid-column: 2/3;
}
/* form for Photo */
.image-form {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
/* Navbar styling */
.side-navbar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.navbar-link{
  text-decoration: none;
  margin-left: 120px;
  color: #14171A; 
}

.navbar-link:hover {
  color: #1DA1F2;
}

.navbar-link:active {
  color: #0d6efd;
}
/* unique form name and styling for forms */
.form-dingo {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
/* twitter logo */
.twitter-img {
  height: 100px;
}
/* custom css for users profile pic in search results */
#search_pic {
  width: 90px;
  height: 90px;
}
/* Delete styling */
.delete-title {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.delete-button {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}